@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  background-image: url('../src/cool-background.png');
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#nav-bar-item {
  margin: 10px;
  /* text-decoration: none; */
}

.blue-bar {
  background-color: dodgerblue
}

.m-top-5 {
  margin-top: 15px;
}

.m-top-50 {
  margin-top: 50px;
}
.m-50{
  margin: 50px;
}

.m-left-5 {
  margin-left: 5px;
}

.m-bottom-5 {
  margin-bottom: 5;
}

.centr {
  text-align: center;
}

.todo-btn {
  background-color: white;
  border-color: cornflowerblue;
  border-width: 2px;
}

.todo-sign-in-btn {
  border-color: whitesmoke;
  border-width: 2px;
}

.myFormControl {
  padding: .375rem .75rem;
  margin: 4px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

/* template css */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: cornflowerblue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: lightskyblue;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* .form .register-form {
  display;
} */

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

.search {
  width: 100%;
  position: relative;
  text-align: center;
  /* padding-top: 50px; */
  /* display: flex; */
}

.searchTerm {
  width: 60%;
  border: 2px solid #00B4CC;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: black;
}

.card-result-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  padding: 50px;
}

.porfolio-area {
  margin-left: 20px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 4fr));
}

.porfolio-detials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  grid-auto-columns: minmax(100px, auto);
}

.card {
  border: 1px solid #d3d3d3;
  border-radius: 1rem;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.1s;
  height: 250px;
  /* width: 40%; */
  /* border-radius: 5px; */
}

.trans-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: center;
  background-color: ghostwhite;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #00B4CC;
}

.content {
  padding: 2px 16px;
  text-align: center;
}

.searchPage {
  display: grid;
  grid-row: 3;
  grid-template-rows: 25% 25% 25%;
  grid-auto-rows: minmax(100px, auto);
  grid-row-gap: 1em;
}

.porfolio-rows {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  /* margin-left: 35px; */
}

.stock-title {
  text-align: center;
  width: 100%;
}

.stock-details-section {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  /* grid-auto-columns:  minmax(100px, auto); */
  grid-column-gap: 1em;
  padding-left: 50px;
}

/* Custom loaders */

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle>div {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #cef;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}